<div class="row">
    <div class="col-8 offset-2 mt-5" style="background-color:#4A171E;opacity:0.8;font-size:x-large">

        <a>
             Yaygınlığı, hizmet kalitesi, güvenilirliği ve ürün çeşitliliği ile dinamik, yenilikçi ve atılımcı yapısı sayesinde sektöründe fark yaratan Gamerz, paydaşlarıyla birlikte geleceği şekillendirmektedir.
            <br />
            Gamerz, sürdürülebilirlik odağıyla faaliyetlerini sürdürürken içinde bulunduğu topluma ve tüm paydaşlarına daha fazla değer sunmak için çalışmalarına devam etmektedir.
            <hr />
            Sektörde yeni olan Gamerz’ın faaliyetleri, mağazacılık ve e-ticaret ile bayi ağı olarak iki grup altında değerlendirilmektedir. Mağazalarda ve online kanallarda, tüketici elektroniği, görüntüleme, bilgi teknolojisi, telekom ürünleri ve ev aletleri perakendeciliği yapan Şirket, bayi grubu markası İklimsa ile de iklimlendirme sektöründe ve GES alanında faaliyet göstermektedir.
            <hr />
            Gamerz, markasına ve çalışanlarına sürekli yatırım yaparak, uzman insan kaynağı yetiştirerek, müşteri memnuniyeti için yenilikçi hizmetlere öncülük ederek, tüketicilerin ihtiyaçlarına göre en uygun kanal yapısı ile ürün karmasını oluşturarak ve cesur adımlar atarak sektöre öncülük etmeyi sürdürmektedir.
        </a>
        <hr />

        <a class="btn btn-warning col-2" href="/">Geri Dön</a>
    </div>










</div>